body {
  background-image: url(../images/ex.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  font-family: Georgia, Constantia, "Hoefler Text", serif;
}

h2 {
  margin-top: 150px;
}

.entry {
  margin: 100px;
}

#recent {
  margin: 150px 0 0;
  padding: 0;
}

#recent p {
  margin: 0;
  padding: 0;
  font-size: 144pt;
  color: #333;
}

#chart {
  margin: 0 auto;
  width: 520px;
  background: #efefef;
  border: 1px solid #eee;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#navi {
  margin: 60px;
  padding: 0;
  font-family: Baskerville, Palatino, "Palatino Linotype", "Times New Roman", serif;
  font-size: 21pt;
  text-transform: capitalize;
  font-variant: small-caps;
}

#navi li {
  display: inline;
  list-style-type: none;
  margin: 1em;
}

#foot address {
  font-style: normal;
}